<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iniesta.quiztest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logooo1"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/logooo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.iniesta.quiztest.UI.Activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iniesta.quiztest.UI.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.iniesta.quiztest.UI.Activities.RegisterActivity" />
        <activity android:name="com.iniesta.quiztest.UI.Activities.LoginActivity">
        </activity>

    </application>

</manifest>